@use "../partials/variables" as *;
@use "../partials/mixins" as *;

// TYPOGRAPHY

@font-face {
  font-family: "IBMPlexMono";
  src: url("../../assets/fonts/IBMPlexMono-Regular.woff") format(woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../../assets/fonts/IBMPlexMono-SemiBold.woff") format(woff);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../../assets/fonts/IBMPlexMono-Bold.woff") format(woff);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../../assets/fonts/IBMPlexMono-Light.woff") format(woff);
  font-style: normal;
  font-weight: 300;
}

// mobile styles

.homepage__title,
.navigation__title,
.ps-hero__logo {
  font-size: $mob-font-logo;
  // line-height: 2.3rem;/
  font-weight: 600;
}

.homepage__text {
  font-size: $mob-font-text;
  line-height: 2.1rem;
  font-weight: 600;
}

.body__title,
.ps-hero__title {
  font-size: $mob-font-heading;
  line-height: 10rem;
  font-weight: 700;
}

.ps-icon__text,
.gamecard__title {
  font-size: $mob-font-sub-heading;
  line-height: 2.1rem;
  font-weight: 700;
}
