.carousel {
  //   width: 100vw;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;

  &__image {
    width: 100vw;
    height: 40rem;
    object-fit: cover;

    &-container {
      width: 100vw;
    }
  }
}
