@use "../../styles//partials/global";
@use "../../styles//partials/typography";
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.carousel {
  //   width: 100vw;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;

  &__image {
    width: 100vw;
    height: 40rem;
    object-fit: cover;

    @include desktop {
      // width: 75vw;
      height: 60rem;
      object-fit: contain;
    }

    &-container {
      width: 100vw;
    }
  }
}
