@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

main {
  font-size: 1rem;
}

.navigation {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary-green;

  @include flexbox(column, flex-start, center);

  &__header {
    width: 50vw;
    margin-left: 30vw;
    margin-top: 5.7rem;
    margin-bottom: 20vh;
    // margin-left: 17.5rem;
    // margin-inline: auto;

    @include flexbox(row, space-between, flex-start);
  }
  &__title {
    width: 6.9rem;
    height: 10rem;
    text-align: center;
    line-height: 1.1;
    // font-weight: 600;
    color: $color-secondary-black;
  }

  //   &__icon {}

  a {
    text-decoration: none;
  }

  .body {
    &__title {
      //   font-weight: 600;
      color: $color-secondary-black;
      text-align: center;
    }
  }
}
