@use "../../styles/partials/typography";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
  height: 100vh;
  width: 100vw;
  background-color: $color-secondary-black;

  @include flexbox(column, flex-end, center);

  &-container {
    height: 65vh;
    padding-bottom: 15vh;

    @include flexbox(column, space-between, center);
  }

  &__title {
    width: 6.9rem;
    height: 10rem;
    text-align: center;
    color: $color-primary-white;
    line-height: 1.1;
    // font-weight: 600;

    // &-container {}
  }

  a {
    text-decoration: none;
    cursor: crosshair;
  }

  &__text {
    color: $color-primary-green;
  }
}
